<div class="modal-header col-12 p-2">
    <h5 *ngIf="postDetail.title;" class="card-title col-8 text-truncate skeleton-loader">{{postDetail.id}}</h5>
    <button type="button" class="close mr-1 text-danger" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-1 position-sticky">
    <div class="card bg-dark text-white">
        <img *ngIf="postDetail.imageUrl;" class="card-img-top img-fluid" [defaultImage]="defaultImage" [lazyLoad]="postDetail.imageUrl" alt="Card image">
        <div class="card-body">
          <div class="description-area">
            <h5 *ngIf="postDetail.title;" class="card-title col-8 text-truncate skeleton-loader">{{postDetail.id}}</h5>
            <p *ngIf="postDetail.description;" class="card-text skeleton-loader">{{postDetail.description}}</p>
          </div>
          <a [href]="postDetail.imageUrl" target="_blank" class="stretched-link"></a>
        </div>
    </div>
</div>