.content-area{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.post-content:hover, .post-content:active{
    visibility: visible;
    transform: scale(1.05);
    z-index: 1000;
}

.post-content{
    visibility: visible;
    transition: transform 0.2s linear 0s;
}

.post-content-bg{
    min-height: 200px;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

.card-columns {
    column-count: 4;
    -webkit-column-gap: 0.25rem;
    -moz-column-gap: 0.25rem;
    grid-column-gap: 0.25rem;
    column-gap: 0.25rem;
    orphans: 1;
    widows: 1;
}

.card-columns .card {
    margin-bottom: .25rem;
    display: inline-block;
}

.card-title{
    margin-bottom: 0.25rem;
}

.card-text{
    font-size: 0.75rem;
}

.description-area {
    padding: 0.5rem;
}


/* For small mobile devices */
@media only screen and (max-width: 576px) {
    .card-columns {
        column-count: 1;
    }
    .content-area{
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
}

/* For mobile devices */
@media only screen and (max-width: 768px) and (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
    .content-area{
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }
}

/* For Tablests */
@media only screen and (max-width: 992px) and (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
    .content-area{
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
    }
}

/* For Tablests */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
    .content-area{
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
    }
}



.card{
    transition: transform 1.5s;
}
.cardOnUpdate:hover{
    transform: rotateY(150deg);
}

.floating-button{
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(0, 161, 121);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 3px 3px #000000db;
    z-index: 1050;
    text-decoration: none;
    border: none;
    opacity: 0.4;
}

.floating-button:hover, .floating-button:active{
    opacity: 1;
}