<div class="container-fluid ">
  <div class="card-columns content-area">
    <ng-container *ngIf="(displayingQueue); else contentLoader">
      <div (click)="openPreview(indexOfPost);" [@popOverState]="post.state" class="card bg-dark text-white post-content skeleton-loader" *ngFor="let post of displayingQueue; index as indexOfPost;">
        <img *ngIf="post.imageUrl;" class="card-img" [defaultImage]="defaultImage" [lazyLoad]="post.imageUrl" alt="Card image">
        <div class="card-body card-img-overlay p-0.5 d-flex flex-column justify-content-end">
          <div class="description-area">
            <h5 *ngIf="post.title;" class="card-title col-8 text-truncate skeleton-loader">{{post.id}}</h5>
            <!-- <p *ngIf="post.description;" class="card-text skeleton-loader">{{post.description}}</p> -->
            <p *ngIf="post.duration && post.id;" class="card-text col-8 text-truncate skeleton-loader">Expires in 
              <countdown #cd *ngIf="post.duration;" 
              [config]="{
                leftTime: post.duration, 
                format: 'm:s',
                notify: [1]
              }"
              (event)="updatePosts($event, indexOfPost)"></countdown>
               seconds.</p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #contentLoader>
      <div class="card bg-dark text-white post-content mx-auto" *ngFor="let emptyCard of [].constructor(20);">
        <img class="card-img post-content-bg skeleton-loader" src="">
        <div class="card-img-overlay p-2">
          <div class="description-area">
            <h5 class="card-title skeleton-loader"></h5>
            <p class="card-text skeleton-loader"></p>
          </div>
          <a (click)="sendPost();" target="_blank" class="stretched-link"></a>
        </div>
      </div>
    </ng-template>
  </div>
</div>
